################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TravelCards/bin/Debug
/TravelCards/obj/Debug
/_ReSharper.Caches/ReSharperPlatformVs144.TravelCards
